.filter-vacancies {
  margin-bottom: 0;
  padding: $govuk-gutter-half;
  background-color: $panel-colour;
  h2 {
    margin: 0 0 $govuk-gutter-half 0;
  }
  .govuk-form-group {
    margin-bottom: $govuk-gutter-half;
  }
  .form-control {
    border-color: govuk-colour("grey-1");
  }
  .button {
    margin-top: $govuk-gutter-half;
  }

  @include govuk-media-query($until: tablet) {
    margin-bottom: $govuk-gutter;
  }
}